  
body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 80% 0%;
    background-color: rgba(51, 32, 32, 0.473);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}